
body {
	background-color: LightGrey;
}
/*introduction*/
.intro-section {
	background-image: url('../img/header-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	height: 500px;
}
.intro-header {
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 2em;
	letter-spacing: 0.5em;
	color: #1F3D00;
	margin-top: 2em;
}
/*End of Intro*/
/*About me section*/
.bio-intro {
	text-align: center;
	font-family: 'Bree Serif', serif;
	margin-top: 1em;
	font-size: 1.5em;
}
.bio-intro h1 {
	font-size: 2em;
}
.coding-icons li {
	display: inline-block;
	font-size: 4em;
	margin-left: 1.8em;
	margin-top: 1em;
}
/*end of about me section*/
/*middle background section*/
.middle-background {
	background-image: url('../img/middle-background.jpg');
	height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
}
/*end of middle background*/
/*my work section*/
.work-intro {
	text-align: center;
	font-family: 'Bree Serif', serif;
	margin-top: 1em;
	font-size: 1.5em;
}
.work-nav img {
	margin-left: 43em;
}
/*end of work section*/
/*footer section*/
.icons li {
	font-size: 3em;
	display: inline-block;
	margin-left:7em;
	margin-top: 1em;
}
.social-icons {
	text-align: center;
	font-family: 'Bree Serif', serif;
	margin-top: 1em;
	font-size: 1.5em;
	background-color: #E6E62E;
}
/*end of footer section*/
/*grid framework*/
*, *:before, *:after {
  box-sizing border-box;
}

.grid {
  width: 100%;
}

.row {
  margin-bottom: 1em;
}

.grid, .row, [class*="-col"] {
  padding: 0;
  margin: 0;
}

.grid:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="-col"] {
  float: left;
  margin-right: 1.5%
}

[class*="-col"]:last-child {
  margin-right: 0;
}
.one-col {
  width: 6.958%;
}

.two-col {
  width: 15.41%;
}

.three-col {
  width: 23.87%;
}

.four-col {
  width: 32.33%;
}

.five-col {
  width: 40.79%;
}

.six-col {
  width: 49.25%;
}

.seven-col {
  width: 57.70%;
}

.eight-col {
  width: 66.16%;
}

.nine-col {
  width: 74.62%;
}

.ten-col {
  width: 83.08%;
}

.eleven-col {
  width: 91.54%;
}

.twelve-col {
  width: 100%;
}
.one-offset {
  margin-left: 8.458%;
}

.two-offset {
  margin-left: 16.91%;
}

.three-offset {
  margin-left: 25.37%;
}

.four-offset {
  margin-left: 33.83%;
}

.five-offset {
  margin-left: 42.29%;
}

.six-offset {
  margin-left: 50.75%;
}

.seven-offset {
  margin-left: 59.20%;
}

.eight-offset {
  margin-left: 67.66%;
}

.nine-offset {
  margin-left: 76.12%;
}

.ten-offset {
  margin-left: 84.58%;
}

.eleven-offset {
  margin-left: 91.54%;
}
@media all and (max-width: 768px) {
  [class*="-col"] {
    width: 100%;
    margin-bottom: 1em;
  }

  .row:last-child > [class*="-col"]:last-child {
    margin-bottom: 0;
  }

  [class*="-offset"] {
    margin-left: 0;
  }

  .row {
    margin: 0;
  }
}
/*end of grid framework*/